.wy-side-nav-search {
	background-color: #c12b1b;
}
.wy-nav-side {
	background: #cc3c2d;
}
.wy-menu-vertical ul.tocbase li a {
	    color: #ccc;
}
.wy-menu-vertical li.toctree-l1.current>a {
    border-bottom: 0;
    border-top: 0;
}
.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a {
	background: #cc3c2d;
}
.wy-menu-vertical li.on a:hover, .wy-menu-vertical li.current>a:hover {
    background: #e74c3c;
}
.wy-nav-content {
	max-width: 2000px;
}
.wy-menu-vertical a:hover {
    background-color: #e74c3c;
}
.wy-menu-vertical ul.tocbase li.navtree.toctree-l1.inactive > a, .wy-menu-vertical ul.tocbase li.navtree.toctree-l2.inactive > a {
    color: #ccc;
}
.rst-versions .rst-current-version {
	background-color: #cc3c2d;
}
.rst-versions {
	background: #cc3c2d;
}
.wy-menu-vertical header, .wy-menu-vertical p.caption {
	color: #fcfcfc;
}
	